<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="Console" type="log4net.Appender.ConsoleAppender">
    <layout type="Synthesis.Logging.Log4Net.JsonFixedLayout, Synthesis.Logging.Log4Net"></layout>
  </appender>
  <root>
    <level value="WARN" />
    <appender-ref ref="Console"/>
  </root>
</log4net>