<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\\PrincipalServiceLogs.log" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="30" />
    <maximumFileSize value="100MB" />
    <staticLogFileName value="true" />
    <layout type="Synthesis.Logging.Log4Net.JsonFixedLayout, Synthesis.Logging.Log4Net"></layout>
  </appender>
  <appender name="Console" type="log4net.Appender.ConsoleAppender">
    <layout type="Synthesis.Logging.Log4Net.JsonFixedLayout, Synthesis.Logging.Log4Net"></layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="RollingFileAppender" />
    <appender-ref ref="Console"/>
  </root>
</log4net>