<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="ElasticSearchAppender" type="log4stash.ElasticSearchAppender, log4stash">
    <layout type="Synthesis.Logging.Log4Net.JsonFixedLayout, Synthesis.Logging.Log4Net"></layout>
    <Server>${ElasticSearchUrl}</Server>
    <IndexName>microservices-index</IndexName>
    <Port>9200</Port>
    <Ssl>False</Ssl>
    <AuthenticationMethod>
      <Basic>
        <Username>admin</Username>
        <Password>admin</Password>
      </Basic>
    </AuthenticationMethod>
    <ElasticFilters>
      <kv />
    </ElasticFilters>
  </appender>
  <root>
    <level value="WARN" />
    <appender-ref ref="ElasticSearchAppender"/>
  </root>
</log4net>