<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Synthesis.Http" version="1.1.0-beta002" targetFramework="net452" />
  <package id="Synthesis.Logging" version="2.0.4-beta" targetFramework="net452" />
  <package id="Synthesis.Logging.Log4Net" version="1.0.6-beta" targetFramework="net452" />
  <package id="Synthesis.Serialization" version="1.0.3" targetFramework="net452" />
  <package id="Synthesis.Tracking.Correlations" version="1.0.1" targetFramework="net452" />
</packages>